<div>
	<header id="header">
		<div style="padding:0px 8px;line-height: 60px;">
			<a href="../"><h1 class="header_title">TestPage</h1></a>
		</div>
	</header>
	<div id="top"></div>
	<div id="contents">
		<div class="contents_top clearfix">
			<div class="left_contents">
				
				<div class="left_contents_skils">
					<div class="left_contents_header clearfix">
						<h2 class="left_contents_header_title">スキル・特徴</h2>
						<div class="left_contents_header_add"><i class="fa fa-plus-circle"></i> スキルを推薦する</div>
					</div>
					
					<div class="left_contents_skils_toplist">
							
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number">21<div class="left_contents_skils_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div></div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>	
						
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number">
									21
									<div class="left_contents_skils_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
								</div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>	
						
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number">
									21
									<div class="left_contents_skils_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
								</div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>	
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number">
									21
									<div class="left_contents_skils_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
								</div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>	
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number">
									21
									<div class="left_contents_skils_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
								</div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>	
						<div class="left_contents_skils_area">
							<div class="left_contents_skils_bar"></div>
							<div class="left_contents_skils_contents">
								<div class="left_contents_skils_number_done">
									21
								</div>
								<div class="left_contents_skils_text">okdowk</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
								<div class="left_contents_skils_user">
									<a href="./profile" class="left_contents_skils_user_img" style="background-image: url('https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fcompanies%2F632%2Foffice%2F757%2Ff1.jpg&h=295&w=400');"></a>
								</div>
							</div>						
						</div>
					</div>
					
					<div class="left_contents_skils_underlist">
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								21
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">okfoko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number_done">
								11
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								14
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								13
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								21
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								1
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								11
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
						<div class="skils_underlist_tag">
							<div class="skils_underlist_tag_number">
								13
								<div class="skils_underlist_tag_number_plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
							</div>
							<div class="skils_underlist_tag_text">oこんにko</div>
						</div>
					</div>		
				</div>
				
			</div>
			<div class="right_contents">
				
			</div>
		</div>
	</div>
</div>