<div>
	<header id="header">
		<div style="padding:0px 8px;line-height: 60px;">
			<a href="../"><h1 class="header_title">TestPage</h1></a>
		</div>
	</header>
	<div id="contents">
		<div class="clearfix" style="padding:40px 0px 30px 0px;border-bottom: 1px solid #e5eaef;">
		<h2 style="font-size: 40px;color: #35393b">HTML/CSS</h2>
		<div style="background: #00A4BB;color: #fff;padding:8px 25px;border:1px solid #627881;border-radius: 3px;font-size: 14px;float: left;margin-top:5px;cursor: pointer;">自分のスキルに追加</div>
		</div>
	</div>
</div>