<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://codeserver.xsrv.jp/font/font-awesome/css/font-awesome.min.css">
    <script src="http://fb.me/react-0.13.3.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="/assets/users.js" type="text/jsx"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
